// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer h2{
  font-size: 1.1rem;
  opacity: 0;
  font-family: 'Sue Ellen Francisco', cursive;
  transition: transform 1s ease;
  margin-bottom: 10vh;
  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
  span {
    animation: colorBlock 20s ease-in infinite;
    opacity: .9;
  }
  .pdx {
    margin-bottom: -23px;
  }
}

// KEYFRAMES
@keyframes colorBlock {
  0% {
    color: #FFF5A5;
  }
  40% {
    color: #FFD4DA;
  }
  60% {
    color: #99D2E4;
  }
  80% {
    color: #D8CAB4;
  }
  100% {
    color: #FFF5A5;
  }
}
