// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer h2{
  font-size: 3rem;
  opacity: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  transition: transform 1s ease;
  margin:6vh auto;
  width: 15vw;
  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}
