// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header-content {
  width: 85%;
  height: 85vh;
  margin: 0 auto;
  align-items: center;
  padding-top: 2.75rem;

  .logo {
    h1 {
      font-size: 4.5rem;
      margin: 0 auto;
      padding: 0 auto;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 300;
    }
    .ginger {
      opacity: .5;
      font-size: .9rem;
      margin: 1vh auto;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 300;
    }
  }

  .tagline {
    font-size: 1.6rem;
    opacity: 0;
  }
  p {
    margin: 0 auto;
    span {
      opacity: .5;
    }
  }
}
