
.projects {
  opacity: 0;
  margin: 10vh 5vw;
  .projects-title {
    padding-left: 2vw;
    opacity: .5;
    font-size: 1.3rem;
  }
  .card-panel {
    font-family: $code-font-stack;
    height: 375px;
    transition: transform 1s ease;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
  h2 {
  font-size: 2.56rem;
  font-family: "Roboto", sans serif;
  font-weight: lighter;
  }
  .card-action {
    padding-top: 20px;
    opacity: 0.5;
  }
}
